@import url('../global.css');
@import url('../posts.css');

.user-profile {
    textarea {
        resize: vertical;
        width: 100%;
        box-sizing: border-box;
    }
    code.bio {
        background: #000;
        padding: 0.5rem;
        border: 1px solid currentColor;
        line-break: anywhere;
    }
}


.option {
    border: 1px solid currentColor;
    background: #000;
    padding: 0.5rem;
    width: max-content;
    &.checkbox {
        display: grid;
        grid-template-columns: max-content max-content 1fr;
        align-items: center;

        margin: 0.25rem 0;

        cursor: pointer;

        .value-graphic {
            width: 3rem;
            height: 1.5rem;
            background: #000;


            border: 1px solid var(--color-background-lighter);

            &.toggled {
                border-color: var(--color-main);
            }

            .slider {
                position: relative;
                width: 50%;
                height: 100%;
                left: 0;

                transition: left 50ms ease-out;
                background: var(--color-background-lighter);

                color: white;

                &:before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-image: url('../assets/icon/cross.svg');
                    background-size: 100%;
                }
            }

            &.toggled .slider {
                left: 50%;
                background: var(--color-main);

                &:before {
                    background-image: url('../assets/icon/check.svg');
                }
            }
        }
        label {
            margin-left: 1rem;
            user-select: none;
        }
    }
}

.Dropdown-root {
    width: max-content;
}

.Dropdown-control {
    border-style: inset;
    padding: 0.25rem 0.5rem;
    width: 100%;
    box-sizing: border-box;

    &::after {
        margin-left: 1rem;
        content: "V";
    }
}


.Dropdown-menu {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;

    list-style: none;
    background: black;

    border: 1px solid currentColor;
    border-top: none;
}

.Dropdown-option {
    user-select: none;
    cursor: pointer;

    padding: 0.25rem 0.5rem;

    &:hover {
        background: var(--color-background);
    }
}