@import url('../global.css');
@import url('../posts.css');

.user-profile {
    textarea {
        resize: vertical;
        width: 100%;
        box-sizing: border-box;
    }
    code.bio {
        background: #000;
        padding: 0.5rem;
        border: 1px solid currentColor;
        line-break: anywhere;
    }
}